<div
  id="w-node-_54cca2e2-27ff-f4cd-9928-56bd07a98705-1cecfba2"
  class="contact-base"
>
  <div class="work-spacer work-top-spacer"></div>
  <div class="form-block radius-regular w-form">
    <form
      id="wf-form-Form"
      name="wf-form-Form"
      data-name="Form"
      method="get"
      class="form"
      data-wf-page-id="68b1b87bc65c6c6d1cecfba2"
      data-wf-element-id="7bed3f24-f642-6376-3353-afb082d6a6cb"
    >
      <div class="contact-intro">
        <div class="padding-vertical padding-large">
          <div class="text-size-large text-align-center">
            Please fill out the form below and I will be in touch within 24
            hours.
          </div>
        </div>
      </div>
      <div>
        <div class="form-field-wrapper">
          <label for="First-Name-2" class="form-label">Your name</label>
          <div class="form-dual-input">
            <input
              class="form-input radius-regular w-input"
              maxlength="256"
              name="First-Name-2"
              data-name="First Name 2"
              placeholder="First Name"
              type="text"
              id="First-Name-2"
            /><input
              class="form-input radius-regular w-input"
              maxlength="256"
              name="First-Name-2"
              data-name="First Name 2"
              placeholder="Last Name"
              type="text"
              id="First-Name-2"
            />
          </div>
        </div>
        <div class="form-field-wrapper">
          <label for="First-Name-3" class="form-label">Your email</label>
          <div class="form-dual-input">
            <input
              class="form-input radius-regular w-input"
              maxlength="256"
              name="First-Name-2"
              data-name="First Name 2"
              placeholder="Email@template.com"
              type="email"
              id="First-Name-2"
            />
          </div>
        </div>
        <div class="form-field-wrapper">
          <label for="Message-2" class="form-label">Text Area</label><textarea
            id="Message-2"
            name="Message-2"
            maxlength="5000"
            data-name="Message 2"
            placeholder="Message"
            class="form-input is-text-area radius-regular w-input"
          ></textarea>
        </div>
        <input
          type="submit"
          data-wait="Please wait..."
          class="button is-form-submit w-button"
          value="Send message"
        />
      </div>
    </form>
    <div class="form_message-success w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="form_message-error w-form-fail">
      <div>
        Oops! Something went wrong while submitting the form.
      </div>
    </div>
  </div>
</div>