<div class="hero-loop-text">
  <div class="hero-loop-strip">
    <div class="loop-text">
      <div>{{children}}</div>
    </div>
    <div class="loop-text">
      <div>{{children}}</div>
    </div>
  </div>
</div>