<section class="home-about">
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div
        id="services"
        class="home-service-block w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d830d-1cecfba2"
      >
        {{> components/curve-block href="services"}}
        <div class="padding-top padding-huge">
          {{> components/questions id="fd39cbbb-5d40-85c2-72d7-44a0eb1d8347"}}
        </div>
      </div>
    </div>
  </div>
</section>