  <section class="home-about">
    <div class="padding-horizontal padding-small">
      <div class="grid-large">
        <div id="services" class="home-service-block w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d830d-1cecfba2">
          <div class="curve-block-center">
            <a id="right" href="#services" class="curve-link w-inline-block">
              <div class="curve-arrow">
                <div class="clip">
                  <div class="hover-arrow top">
                    <div class="icon w-embed">
                      <svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                          fill="currentColor" />
                      </svg>
                    </div>
                  </div>
                  <div class="hover-arrow">
                    <div class="icon w-embed">
                      <svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                          fill="currentColor" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbdd_Pre-order_curve.svg"
                loading="lazy" alt="" />
            </a>
          </div>
          <div class="padding-top padding-huge">
            <div class="padding-horizontal padding-medium"></div>
            <div class="padding-horizontal padding-large">
              <div class="padding-bottom padding-large">
                <div>
                  <div class="padding-top">
                    <div data-w-id="fd39cbbb-5d40-85c2-72d7-44a0eb1d8347" class="row-title-block">
                      <div class="letter-animation">
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-1"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-2"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-3"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-4"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-5"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-6"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-7"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-8"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-9"></div>
                        <div style="
                                    -webkit-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                    transform: translate3d(0, 100%, 0)
                                      scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                      rotateZ(0) skew(0, 0);
                                  " class="letter-10"></div>
                      </div>
                      <div class="row-title">
                        <div class="row-title-clip">
                          <div class="row-title-text text-align-center">
                            <span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-1">Q</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-2">u</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-3">e</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-4">s</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-5">t</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-6">i</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-7">o</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-8">n</span><span style="
                                        -webkit-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -moz-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        -ms-transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                        transform: translate3d(0, 100%, 0)
                                          scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                          rotateZ(0) skew(0, 0);
                                      " class="letter-9">s</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d8368-1cecfba2" class="home-faq-block">
                    <div class="home-faq-list radius-regular">
                      <div class="home-faq-item no-border">
                        <div class="home-faq-top">
                          <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d836c-1cecfba2" class="home-faq-number">
                            <div class="text-size-small">01</div>
                          </div>
                          <div class="text-size-large">
                            How long do projects typically take?
                          </div>
                          <div class="home-faq-icon">
                            <div class="icon-1x1-small w-embed">
                              <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="currentColor" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="hame-faq-bottom">
                          <div class="home-faq-content radius-regular">
                            <div class="home-faq-text">
                              <div class="text-size-regular text-color-white">
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-faq-item">
                        <div class="home-faq-top">
                          <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d837a-1cecfba2" class="home-faq-number">
                            <div class="text-size-small">02</div>
                          </div>
                          <div class="text-size-large">
                            How long do projects typically take?
                          </div>
                          <div class="home-faq-icon">
                            <div class="icon-1x1-small w-embed">
                              <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="currentColor" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="hame-faq-bottom">
                          <div class="home-faq-content radius-regular">
                            <div class="home-faq-text">
                              <div class="text-size-regular text-color-white">
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-faq-item">
                        <div class="home-faq-top">
                          <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d8388-1cecfba2" class="home-faq-number">
                            <div class="text-size-small">03</div>
                          </div>
                          <div class="text-size-large">
                            How long do projects typically take?
                          </div>
                          <div class="home-faq-icon">
                            <div class="icon-1x1-small w-embed">
                              <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="currentColor" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="hame-faq-bottom">
                          <div class="home-faq-content radius-regular">
                            <div class="home-faq-text">
                              <div class="text-size-regular text-color-white">
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-faq-item">
                        <div class="home-faq-top">
                          <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d8396-1cecfba2" class="home-faq-number">
                            <div class="text-size-small">04</div>
                          </div>
                          <div class="text-size-large">
                            How long do projects typically take?
                          </div>
                          <div class="home-faq-icon">
                            <div class="icon-1x1-small w-embed">
                              <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="currentColor" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="hame-faq-bottom">
                          <div class="home-faq-content radius-regular">
                            <div class="home-faq-text">
                              <div class="text-size-regular text-color-white">
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-faq-item">
                        <div class="home-faq-top">
                          <div id="w-node-fd39cbbb-5d40-85c2-72d7-44a0eb1d83a4-1cecfba2" class="home-faq-number">
                            <div class="text-size-small">05</div>
                          </div>
                          <div class="text-size-large">
                            How long do projects typically take?
                          </div>
                          <div class="home-faq-icon">
                            <div class="icon-1x1-small w-embed">
                              <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="currentColor" />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="hame-faq-bottom">
                          <div class="home-faq-content radius-regular">
                            <div class="home-faq-text">
                              <div class="text-size-regular text-color-white">
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                                Lorem ipsum dolor sit amet, consectetur
                                adip iscing elit. Etiam eutur pis molesti.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>