  <section class="home-about">
    <div class="padding-horizontal padding-small">
      <div class="grid-large">
        <div
          id="intro"
          class="home-about-block w-node-_268712a1-d5ba-90dc-2dd1-5152fb162c24-1cecfb8f"
        >
          {{> components/curve-block href="intro"}}
          <div class="padding-horizontal padding-medium">
            <div class="home-about-top">
              
              <div class="padding-vertical padding-xlarge">
                <div class="home-about-intro">
                  <div split-text=" " class="text-size-xlarge text-align-center">
                   Gained real experience from small websites to enterprise applications.
                  </div>
                  {{> components/connect-button
                    page="about"
                    text="Explore my story"
                    light="is-light"
                  }}
                </div>
              </div>
              <div
                data-w-id="45d2a386-614e-c243-8e80-f59ea4859d64"
                class="row-title-block"
              >
                <div class="row-title">
                  <div class="row-title-clip">
                    <div class="row-title-text text-align-center">
                      {{> components/heading-split text="Since 2022"}}
                    </div>
                  </div>
                  <div class="row-title-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>