<section class="home-about">
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div
        id="services"
        class="home-service-block w-node-_54a6c794-4338-ce36-32f9-a99b700b0724-1cecfb8f"
      >
        <div class="curve-block-center">
          <a id="right" href="#services" class="curve-link w-inline-block"><div
              class="curve-arrow"
            >
              <div class="clip">
                <div class="hover-arrow top">
                  <div class="icon w-embed">
                    <svg
                      width="420"
                      height="420"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                        fill="currentColor"
                      />
                    </svg>
                  </div>
                </div>
                <div class="hover-arrow">
                  <div class="icon w-embed">
                    <svg
                      width="420"
                      height="420"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                        fill="currentColor"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbdd_Pre-order_curve.svg"
              loading="lazy"
              alt=""
            /></a>
        </div>
        <div class="padding-top padding-huge">
          <div class="padding-horizontal padding-medium">
            <div class="home-service-top">
              <div class="home-service-intro">
                <div class="text-size-large text-align-center">
                  With professional experience in the industry, I have
                  contributed to projects that serve both small teams and
                  enterprise-level businesses.
                </div>
                <a href="/contact" class="button is-light w-inline-block"><div
                    id="nowThis"
                    thatTextSplit="hoverTarget"
                    base="20%"
                    class="clip"
                  >
                    <div class="hover-text">
                      <div class="text-size-xsmall">Schedule a call</div>
                    </div>
                    <div class="hover-text bottom-hover-text">
                      <div class="text-size-xsmall">Schedule a call</div>
                    </div>
                  </div></a>
              </div>
            </div>
          </div>
          <div class="home-service">
            <div
              data-w-id="e9a2ec01-af72-96b6-50cd-acf9ec3cde84"
              class="row-title-block"
            >
              <div class="letter-animation">
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-1"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-2"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-3"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-4"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-5"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-6"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-7"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-8"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-9"
                ></div>
                <div
                  style="
                      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                  class="letter-10"
                ></div>
              </div>
              <div class="row-title">
                <div class="row-title-clip">
                  <div class="row-title-text text-align-center">
                    <span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-1"
                    >M</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-2"
                    >y</span>
                    <span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-3"
                    >S</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-4"
                    >e</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-5"
                    >r</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-6"
                    >v</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-7"
                    >i</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-8"
                    >c</span><span
                      style="transform: translate3d(0px, 100%, 0px);"
                      class="letter-9"
                    >e</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding-horizontal padding-large">
              <div class="home-service_base">
                <div class="home-service-list">

                  <div class="home-service_card">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">001</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Web design</div>
                        <div
                          class="text-size-regular text-style-muted text-style-2lines"
                        >
                          This includes creating unique designs that reflect a
                          company&#x27;s identity and goals, while also taking
                          into account various aspects of page design such as
                          user experience, usability, navigation, content
                          organization and presentation.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img
                          src="/1bef907a0a1af5edfffd7e027c487082.jpg"
                          loading="lazy"
                          alt=""
                          class="image-fill object-top"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="home-service_card">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">002</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Graphic Design</div>
                        <div
                          class="text-size-regular text-style-muted text-style-2lines"
                        >
                          Creative and detail-oriented, with strong expertise in
                          Photoshop, Lightroom, and Canva to deliver polished
                          visual content.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img
                          src="/d19f54f607b16e8b91550867c1b7842f.jpg"
                          loading="lazy"
                          alt=""
                          class="image-fill object-cover"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="home-service_card end">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">003</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Editing</div>
                        <div
                          class="text-size-regular text-style-muted text-style-2lines"
                        >
                          Experienced in video editing with CapCut, I capture
                          trends quickly to produce engaging and high-impact
                          content.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img
                          src="ba29720a4dbf381c22851e304ded4169.jpg"
                          loading="lazy"
                          alt=""
                          class="image-fill"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-banner">
            <div class="padding-horizontal padding-small">
              <div class="home-banner_com">
                <div class="home-banner_bkg">
                  <img
                    src="/2301.jpg"
                    loading="lazy"
                    alt=""
                    class="image-fill"
                  />
                  <div class="overlay light-overlay"></div>
                </div>
                <div class="home-banner_content slider-component">
                  <div class="swiper">
                    <div class="home-banner_slider swiper-wrapper">
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            Her custom website designs, coding solutions,
                            branding strategies, graphic design and app design
                            were all top notch.
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy"
                              alt=""
                              class="image-fill"
                            />
                          </div>
                          <div>
                            <div class="text-size-small">Emily Humphry</div>
                            <div class="text-size-small text-style-muted">
                              Airtable
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            I highly recommend her to anyone looking for a
                            creative freelancer who can provide comprehensive
                            services tailored specifically to their needs!
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy"
                              alt=""
                              class="image-fill"
                            />
                          </div>
                          <div>
                            <div class="text-size-small">Molly Wilson</div>
                            <div class="text-size-small text-style-muted">
                              Facebook
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            She provided an incredible package of web design and
                            development services that helped us increase our
                            digital presence by 50%.
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy"
                              alt=""
                              class="image-fill"
                            />
                          </div>
                          <div>
                            <div class="text-size-small">Karla Gordon</div>
                            <div class="text-size-small text-style-muted">
                              Google
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-banner_nav">
                    <div
                      id="w-node-a837a935-dca2-a76c-9b94-a9cb3179e530-1cecfb8f"
                      data-w-id="a837a935-dca2-a76c-9b94-a9cb3179e530"
                      class="slider-arrow swiper-prev"
                    >
                      <div class="clip">
                        <div class="hover-arrow right">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="slider-arrow_text">
                        <div class="text-size-small">prev</div>
                      </div>
                    </div>
                    <div
                      id="w-node-_8b9b0a96-ccd8-223c-687e-06fbe0610f98-1cecfb8f"
                      data-w-id="8b9b0a96-ccd8-223c-687e-06fbe0610f98"
                      class="slider-arrow swiper-next"
                    >
                      <div class="slider-arrow_text">
                        <div class="text-size-small">next</div>
                      </div>
                      <div class="clip">
                        <div class="hover-arrow left">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-horizontal padding-large">
            <div class="padding-bottom padding-large">
              <div class="home-service_grid">
                <div class="padding-top">
                  <div
                    data-w-id="09cc2264-e26a-5070-b27f-86bb62b63af6"
                    class="row-title-block"
                  >
                    <div class="letter-animation">
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-1"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-2"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-3"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-4"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-5"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-6"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-7"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-8"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-9"
                      ></div>
                      <div
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-10"
                      ></div>
                    </div>
                    <div class="row-title">
                      <div class="row-title-clip">
                        <div class="row-title-text text-align-center">
                          <span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-1"
                          >Q</span><span
                           style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-2"
                          >u</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-3"
                          >e</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-4"
                          >s</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-5"
                          >t</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-6"
                          >i</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-7"
                          >o</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-8"
                          >n</span><span
                            style="transform: translate3d(0px, 100%, 0px);"
                            class="letter-9"
                          >s</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-e2d1d4ff-3daa-4a24-661b-de15c7bf01c6-1cecfb8f"
                  class="home-faq-block"
                >
                  <div class="home-faq-list radius-regular">
                    <div
                      data-w-id="635eb179-85f7-067d-94b1-dffe60beb2a9"
                      class="home-faq-item no-border"
                    >
                      <div class="home-faq-top">
                        <div
                          id="w-node-_635eb179-85f7-067d-94b1-dffe60beb2ab-60beb2a9"
                          class="home-faq-number"
                        >
                          <div
                            id="nowThis"
                            thatTextSplit="hoverTarget"
                            base="20%"
                            class="clip"
                          >
                            <div class="hover-text">
                              <div class="text-size-small text-style-muted">
                                001
                              </div>
                            </div>
                            <div class="hover-text bottom-hover-text">
                              <div class="text-size-small text-style-muted">
                                001
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-size-large">
                          How long do projects typically take?
                        </div>
                        <div class="home-faq-icon">
                          <div class="icon-1x1-small w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="hame-faq-bottom">
                        <div class="home-faq-content radius-regular">
                          <div class="home-faq-text">
                            <div class="text-size-regular text-color-white">
                              This involves creating a custom solution for
                              clients who want an online presence tailored to
                              their specific needs. The process involves
                              understanding the client&#x27;s requirements,
                              analyzing existing solutions, and then designing,
                              coding, and testing the web application.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="line">
                        <div class="line-fill light-line-fill"></div>
                      </div>
                    </div>
                    <div
                      data-w-id="635eb179-85f7-067d-94b1-dffe60beb2a9"
                      class="home-faq-item no-border"
                    >
                      <div class="home-faq-top">
                        <div
                          id="w-node-_635eb179-85f7-067d-94b1-dffe60beb2ab-60beb2a9"
                          class="home-faq-number"
                        >
                          <div
                            id="nowThis"
                            thatTextSplit="hoverTarget"
                            base="20%"
                            class="clip"
                          >
                            <div class="hover-text">
                              <div class="text-size-small text-style-muted">
                                002
                              </div>
                            </div>
                            <div class="hover-text bottom-hover-text">
                              <div class="text-size-small text-style-muted">
                                002
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-size-large">
                          What kind of projects are you most passionate about?
                        </div>
                        <div class="home-faq-icon">
                          <div class="icon-1x1-small w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="hame-faq-bottom">
                        <div class="home-faq-content radius-regular">
                          <div class="home-faq-text">
                            <div class="text-size-regular text-color-white">
                              I enjoy projects that allow me to blend design and
                              development — whether it’s building a modern
                              website, designing a creative interface, or
                              developing an application that solves real
                              problems.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="line">
                        <div class="line-fill light-line-fill"></div>
                      </div>
                    </div>
                    <div
                      data-w-id="635eb179-85f7-067d-94b1-dffe60beb2a9"
                      class="home-faq-item no-border"
                    >
                      <div class="home-faq-top">
                        <div
                          id="w-node-_635eb179-85f7-067d-94b1-dffe60beb2ab-60beb2a9"
                          class="home-faq-number"
                        >
                          <div
                            id="nowThis"
                            thatTextSplit="hoverTarget"
                            base="20%"
                            class="clip"
                          >
                            <div class="hover-text">
                              <div class="text-size-small text-style-muted">
                                003
                              </div>
                            </div>
                            <div class="hover-text bottom-hover-text">
                              <div class="text-size-small text-style-muted">
                                003
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-size-large">
                          How do you combine creativity and technology in your
                          work?
                        </div>
                        <div class="home-faq-icon">
                          <div class="icon-1x1-small w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="hame-faq-bottom">
                        <div class="home-faq-content radius-regular">
                          <div class="home-faq-text">
                            <div class="text-size-regular text-color-white">
                              With my background in both design and coding, I
                              approach projects from two angles: making sure
                              they look visually appealing while also ensuring
                              they are functional, efficient, and user-friendly.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="line">
                        <div class="line-fill light-line-fill"></div>
                      </div>
                    </div>
                    <div
                      data-w-id="635eb179-85f7-067d-94b1-dffe60beb2a9"
                      class="home-faq-item no-border"
                    >
                      <div class="home-faq-top">
                        <div
                          id="w-node-_635eb179-85f7-067d-94b1-dffe60beb2ab-60beb2a9"
                          class="home-faq-number"
                        >
                          <div
                            id="nowThis"
                            thatTextSplit="hoverTarget"
                            base="20%"
                            class="clip"
                          >
                            <div class="hover-text">
                              <div class="text-size-small text-style-muted">
                                004
                              </div>
                            </div>
                            <div class="hover-text bottom-hover-text">
                              <div class="text-size-small text-style-muted">
                                004
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-size-large">
                          What makes you a good fit for our team or project?
                        </div>
                        <div class="home-faq-icon">
                          <div class="icon-1x1-small w-embed">
                            <svg
                              width="420"
                              height="420"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"
                                fill="currentColor"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="hame-faq-bottom">
                        <div class="home-faq-content radius-regular">
                          <div class="home-faq-text">
                            <div class="text-size-regular text-color-white">
                             I am adaptable, eager to learn, and comfortable working with both design and development tasks. I bring not only technical skills but also creativity, which helps me contribute to well-rounded and impactful solutions.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="line">
                        <div class="line-fill light-line-fill"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>