<section class="home-about">
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div id="services" class="home-service-block w-node-_54a6c794-4338-ce36-32f9-a99b700b0724-1cecfb8f">
        {{> components/curve-block href="services"}}
        <div class="padding-top padding-huge">
          <div class="padding-horizontal padding-medium">
            <div class="home-service-top">
              <div class="home-service-intro">
                <div class="text-size-large text-align-center">
                  With professional experience in the industry, I have
                  contributed to projects that serve both small teams and
                  enterprise-level businesses.
                </div>
                {{> components/connect-button
                page="contact"
                light="is-light"
                }}
              </div>
            </div>
          </div>
          <div class="home-service">
            <div data-w-id="e9a2ec01-af72-96b6-50cd-acf9ec3cde84" class="row-title-block">
              <div class="row-title">
                <div class="row-title-clip">
                  <div class="row-title-text text-align-center">
                    {{> components/heading-split text="My Service"}}
                  </div>
                </div>
              </div>
            </div>
            <div class="padding-horizontal padding-large">
              <div class="home-service_base">
                <div class="home-service-list">
                  <div class="home-service_card">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">001</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Web design</div>
                        <div class="text-size-regular text-style-muted text-style-2lines">
                          This includes creating unique designs that reflect a
                          company&#x27;s identity and goals, while also taking
                          into account various aspects of page design such as
                          user experience, usability, navigation, content
                          organization and presentation.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img src="/1bef907a0a1af5edfffd7e027c487082.jpg" loading="lazy" alt=""
                          class="image-fill object-top" />
                      </div>
                    </div>
                  </div>

                  <div class="home-service_card">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">002</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Graphic Design</div>
                        <div class="text-size-regular text-style-muted text-style-2lines">
                          Creative and detail-oriented, with strong expertise in
                          Photoshop, Lightroom, and Canva to deliver polished
                          visual content.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img src="/d19f54f607b16e8b91550867c1b7842f.jpg" loading="lazy" alt=""
                          class="image-fill object-cover" />
                      </div>
                    </div>
                  </div>

                  <div class="home-service_card end">
                    <div class="home-service_top">
                      <div class="text-size-small text-style-muted">003</div>
                      <div class="home-service_intro">
                        <div class="text-size-large">Editing</div>
                        <div class="text-size-regular text-style-muted text-style-2lines">
                          Experienced in video editing with CapCut, I capture
                          trends quickly to produce engaging and high-impact
                          content.
                        </div>
                      </div>
                    </div>
                    <div class="home-service_image">
                      <div class="home-service_height">
                        <img src="ba29720a4dbf381c22851e304ded4169.jpg" loading="lazy" alt="" class="image-fill" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-banner">
            <div class="padding-horizontal padding-small">
              <div class="home-banner_com">
                <div class="home-banner_bkg">
                  <img src="/2301.jpg" loading="lazy" alt="" class="image-fill" />
                  <div class="overlay light-overlay"></div>
                </div>
                <div class="home-banner_content slider-component">
                  <div class="swiper">
                    <div class="home-banner_slider swiper-wrapper">
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            Her custom website designs, coding solutions,
                            branding strategies, graphic design and app design
                            were all top notch.
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy" alt="" class="image-fill" />
                          </div>
                          <div>
                            <div class="text-size-small">Emily Humphry</div>
                            <div class="text-size-small text-style-muted">
                              Airtable
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            I highly recommend her to anyone looking for a
                            creative freelancer who can provide comprehensive
                            services tailored specifically to their needs!
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy" alt="" class="image-fill" />
                          </div>
                          <div>
                            <div class="text-size-small">Molly Wilson</div>
                            <div class="text-size-small text-style-muted">
                              Facebook
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="home-banner_slide swiper-slide">
                        <div>
                          <div class="text-size-large text-align-center">
                            She provided an incredible package of web design and
                            development services that helped us increase our
                            digital presence by 50%.
                          </div>
                        </div>
                        <div class="home-banner_credit">
                          <div class="home-banner_avatar">
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy" alt="" class="image-fill" />
                          </div>
                          <div>
                            <div class="text-size-small">Karla Gordon</div>
                            <div class="text-size-small text-style-muted">
                              Google
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-banner_nav">
                    <div id="w-node-a837a935-dca2-a76c-9b94-a9cb3179e530-1cecfb8f"
                      data-w-id="a837a935-dca2-a76c-9b94-a9cb3179e530" class="slider-arrow swiper-prev">
                      <div class="clip">
                        <div class="hover-arrow right">
                          <div class="icon-1x1-tiny w-embed">
                            <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z"
                                fill="currentColor" />
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z"
                                fill="currentColor" />
                            </svg>
                          </div>
                        </div>
                      </div>
                      <div class="slider-arrow_text">
                        <div class="text-size-small">prev</div>
                      </div>
                    </div>
                    <div id="w-node-_8b9b0a96-ccd8-223c-687e-06fbe0610f98-1cecfb8f"
                      data-w-id="8b9b0a96-ccd8-223c-687e-06fbe0610f98" class="slider-arrow swiper-next">
                      <div class="slider-arrow_text">
                        <div class="text-size-small">next</div>
                      </div>
                      <div class="clip">
                        <div class="hover-arrow left">
                          <div class="icon-1x1-tiny w-embed">
                            <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor" />
                            </svg>
                          </div>
                        </div>
                        <div class="hover-arrow">
                          <div class="icon-1x1-tiny w-embed">
                            <svg width="420" height="420" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M13.1722 12L8.22217 7.04999L9.63617 5.63599L16.0002 12L9.63617 18.364L8.22217 16.95L13.1722 12Z"
                                fill="currentColor" />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{> components/questions id="09cc2264-e26a-5070-b27f-86bb62b63af6"}}
        </div>
      </div>
    </div>
  </div>
</section>