  <section class="home-about">
    <div class="padding-horizontal padding-small">
      <div class="grid-large">
        <div
          id="intro"
          class="home-about-block w-node-_268712a1-d5ba-90dc-2dd1-5152fb162c24-1cecfb8f"
        >
          <div class="curve-block-center">
            <a id="right" href="#intro" class="curve-link w-inline-block"
              ><div class="curve-arrow">
                <div class="clip">
                  <div class="hover-arrow top">
                    <div class="icon w-embed">
                      <svg
                        width="420"
                        height="420"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                          fill="currentColor"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="hover-arrow">
                    <div class="icon w-embed">
                      <svg
                        width="420"
                        height="420"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                          fill="currentColor"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbdd_Pre-order_curve.svg"
                loading="lazy"
                alt=""
            /></a>
          </div>
          <div class="padding-horizontal padding-medium">
            <div class="home-about-top">
              <div class="padding-vertical padding-xlarge">
                <div class="home-about-intro">
                  <div split-text=" " class="text-size-xlarge text-align-center">
                   Gained real experience from small websites to enterprise applications.
                  </div>
                  <a href="/about" class="button is-light w-inline-block"
                    ><div
                      id="nowThis"
                      thatTextSplit="hoverTarget"
                      base="20%"
                      class="clip"
                    >
                      <div class="hover-text">
                        <div class="text-size-xsmall">Explore my story</div>
                      </div>
                      <div class="hover-text bottom-hover-text">
                        <div class="text-size-xsmall">Explore my story</div>
                      </div>
                    </div></a
                  >
                </div>
              </div>
              <div
                data-w-id="45d2a386-614e-c243-8e80-f59ea4859d64"
                class="row-title-block"
              >
                <div class="letter-animation">
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-1"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-2"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-3"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-4"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-5"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-6"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-7"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-8"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-9"
                  ></div>
                  <div
                    style="transform: translate3d(0px, 100%, 0px);"
                    class="letter-10"
                  ></div>
                </div>
                <div class="row-title">
                  <div class="row-title-clip">
                    <div class="row-title-text text-align-center">
                      <span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-1"
                        >S</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-2"
                        >i</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-3"
                        >n</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-4"
                        >c</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-5"
                        >e</span
                      >
                      <span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-6"
                        >2</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-7"
                        >0</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-8"
                        >2</span
                      ><span
                        style="transform: translate3d(0px, 100%, 0px);"
                        class="letter-9"
                        >2</span
                      >
                    </div>
                  </div>
                  <div class="row-title-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>