<section data-w-id="ac4cfc0d-3e39-4290-be56-9510ca35bfb4" class="home-hero">
  <div class="padding-horizontal padding-medium">
    <div class="grid-large">
      <div
        id="w-node-_6e7df872-1444-4c27-ae3c-6b4673aeb1d3-1cecfb8f"
        class="home-hero-block"
      >
        <div
          data-w-id="f9229dca-976e-f012-f753-4e2d139b6694"
          class="hero-rotate-base"
        >
          <div
            data-w-id="bb2ebf59-e0b0-aea3-b323-f5c440cb98b2"
            style="transform: translate3d(0px, 85%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="hero-rotate-image"
          >
            <div
              style="transform: translate3d(0px, 0px, 0px) scale3d(0.65, 0.65, 1) rotateX(0deg) rotateY(180deg) rotateZ(25deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              class="hero-rotate-item radius-regular"
            >
              <div class="hero-rotate-height"></div>
              <img
                src="/Image01.webp"
                loading="lazy"
                alt=""
                class="image-fill"
              />
            </div>
          </div>
        </div>
        <div
          id="w-node-d74ddeb5-c20c-63ef-8fb2-00407a060d1e-1cecfb8f"
          class="home-hero-intro"
        >
          <div class="clip">
            <div
              data-w-id="6d70cae9-6fa2-0bca-a40d-ceb75c4678a0"
              class="loader-step-one"
            >
              <h1 split-text="" class="heading-style-huge text-color-white text-align-center">
                {{> components/heading-split text="Trieu Hai"}}
              </h1>
            </div>
          </div>
          <div class="clip">
            <div
              data-w-id="b495770d-3ec1-918e-d71f-33340b2f0a35"
              class="loader-step-two"
            >
              <h1 split-text="" class="heading-style-huge text-color-white text-align-center">
                {{> components/heading-split text="minh"}}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>