<section class="about-story">
  {{> components/curve-block href="about" position="right"}}
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div id="about" class="about-body-block radius-regular w-node-_268712a1-d5ba-90dc-2dd1-5152fb162c24-1cecfb97">
        <div class="padding-horizontal padding-large">
          <div class="padding-top padding-huge">
            <div class="home-service-top">
              <div class="home-service-intro">
                <div class="text-size-large text-align-center">
                  I have worked with businesses of all sizes to create
                  stunning websites and designs that capture their
                  brand&#x27;s identity.<a href="https://creative-person.webflow.io/#"><strong><br /></strong></a>
                </div>
                {{> components/connect-button
                page="contact"
                light="is-light"
                }}
              </div>
            </div>
            <div data-w-id="c72d569f-e69f-809b-10df-7439c32972db" class="row-title-block">
              <div class="row-title">
                <div class="row-title-clip">
                  <div class="row-title-text text-align-center">
                    {{> components/heading-split text="My story"}}
                  </div>
                </div>
                <div class="row-title-bottom"></div>
              </div>
            </div>
          </div>
          <div class="padding-bottom">
            <div class="padding-top">
              <div class="about-history-block">
                <div id="w-node-f1bf464d-fc74-223e-b627-a97de31d547d-1cecfb97" class="about-history-left">
                  <div data-w-id="f1bf464d-fc74-223e-b627-a97de31d547e" class="about-history-image radius-regular">
                    <div style="transform: translate3d(0, 85%, 0);" class="rotate-card">
                      <div style="transform: translate3d(0, 85%, 0);" class="rotate-card-item">
                        <div class="rotate-card-image radius-regular">
                          <div class="rotate-card-height"></div>
                          <img
                            src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                            loading="lazy" alt="" class="image-fill" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-f1bf464d-fc74-223e-b627-a97de31d5484-1cecfb97" class="about-history-list">
                  <div id="w-node-_6dd294bf-1428-eb7e-ac6c-ec3499cf5ba9-1cecfb97" class="about-story-right">
                    <div id="w-node-_8c3d9bea-5a97-0693-2304-16ce8df33be6-1cecfb97" class="margin-bottom margin-medium">
                      <div class="margin-bottom margin-small">
                        <div class="title-tag">
                          <div class="circle"></div>
                          <div class="text-size-tiny text-style-allcaps">
                            About me
                          </div>
                        </div>
                      </div>
                      <p class="text-size-xlarge">
                        Designer based in New York City
                      </p>
                    </div>
                    <div id="w-node-_1e145ad7-277e-9d69-ef8e-57f007a29bcf-1cecfb97" class="about-story-paragraph">
                      <div class="text-size-regular text-color-grey">
                        Janet was a creative freelancer based in New
                        York City who specialized in app design and web
                        design. She had years of experience under her
                        belt, and had the unique skillset needed to
                        craft stunning websites that captured each
                        client&#x27;s individual brand identity.<br />‍<br />When
                        it came to designing mobile or web-based
                        applications, Janet had a deep understanding of
                        UX principles, such as interaction design,
                        visual design, animation. She also had the
                        ability to create custom user interfaces and
                        experiences tailored specifically to each
                        client&#x27;s needs.<br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding-bottom padding-large">
              <div class="padding-top">
                <div class="about-history-block">
                  <div id="w-node-_44fe54da-fc95-84f6-1f71-7e4c772897d7-1cecfb97" class="about-history-left">
                    <div class="about-history-image radius-regular">
                      <div class="rotate-card">
                        <div class="rotate-card-item">
                          <div class="rotate-card-image radius-regular">
                            <div class="rotate-card-height"></div>
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy" alt="" class="image-fill" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="w-node-_44fe54da-fc95-84f6-1f71-7e4c772897de-1cecfb97" class="about-history-list">
                    <div id="w-node-_5a68c496-28a2-7b64-7db1-06b2e8f1ee25-1cecfb97" class="margin-bottom margin-large">
                      <div class="margin-bottom margin-small">
                        <div class="title-tag">
                          <div class="circle"></div>
                          <div class="text-size-tiny text-style-allcaps">
                            My timeline
                          </div>
                        </div>
                      </div>
                      <div class="about-history-top">
                        <p class="text-size-xlarge">
                          Over 9 years as a creative designer
                        </p>
                      </div>
                    </div>
                    <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                      <div class="about-history-intro">
                        <div class="about-history-title">
                          <div class="margin-bottom margin-medium">
                            <div class="title-tag">
                              <div class="circle"></div>
                              <div class="text-size-tiny text-style-allcaps">
                                2014 - 2016
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h3">Samsung</h3>
                        </div>
                        <div class="text-size-regular text-color-grey">
                          When it came to designing mobile or web-based
                          applications, Janet had a deep skills with UX
                          principles, such as interaction design, visual
                          design, animation.
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                      <div class="about-history-intro">
                        <div class="about-history-title">
                          <div class="margin-bottom margin-medium">
                            <div class="title-tag">
                              <div class="circle"></div>
                              <div class="text-size-tiny text-style-allcaps">
                                2016 - 2017
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h3">Airtable</h3>
                        </div>
                        <div class="text-size-regular text-color-grey">
                          When it came to designing mobile or web-based
                          applications, Janet had a deep skills with UX
                          principles, such as interaction design, visual
                          design, animation.
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                      <div class="about-history-intro">
                        <div class="about-history-title">
                          <div class="margin-bottom margin-medium">
                            <div class="title-tag">
                              <div class="circle"></div>
                              <div class="text-size-tiny text-style-allcaps">
                                2017 - 2020
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h3">Facebook</h3>
                        </div>
                        <div class="text-size-regular text-color-grey">
                          When it came to designing mobile or web-based
                          applications, Janet had a deep skills with UX
                          principles, such as interaction design, visual
                          design, animation.
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                      <div class="about-history-intro">
                        <div class="about-history-title">
                          <div class="margin-bottom margin-medium">
                            <div class="title-tag">
                              <div class="circle"></div>
                              <div class="text-size-tiny text-style-allcaps">
                                2020 - 2023
                              </div>
                            </div>
                          </div>
                          <h3 class="heading-style-h3">Freelance</h3>
                        </div>
                        <div class="text-size-regular text-color-grey">
                          When it came to designing mobile or web-based
                          applications, Janet had a deep skills with UX
                          principles, such as interaction design, visual
                          design, animation.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>