  <section class="about-story">
    <div class="curve-block-right">
      <a id="right" href="#about" class="curve-link w-node-cf6efd5f-ee6b-1d3f-4e6b-d8bcc38057b4-1cecfb97 w-inline-block">
        <div class="curve-arrow">
          <div class="clip">
            <div class="hover-arrow top">
              <div class="icon w-embed">
                <svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                    fill="currentColor" />
                </svg>
              </div>
            </div>
            <div class="hover-arrow">
              <div class="icon w-embed">
                <svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.0002 16.172L18.3642 10.808L19.7782 12.222L12.0002 20L4.22217 12.222L5.63617 10.808L11.0002 16.172V4H13.0002V16.172Z"
                    fill="currentColor" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <img
          src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbdd_Pre-order_curve.svg"
          loading="lazy" alt="" />
      </a>
    </div>
    <div class="padding-horizontal padding-small">
      <div class="grid-large">
        <div id="about" class="about-body-block radius-regular w-node-_268712a1-d5ba-90dc-2dd1-5152fb162c24-1cecfb97">
          <div class="padding-horizontal padding-large">
            <div class="padding-top padding-huge">
              <div class="home-service-top">
                <div class="home-service-intro">
                  <div class="text-size-large text-align-center">
                    I have worked with businesses of all sizes to create
                    stunning websites and designs that capture their
                    brand&#x27;s identity.<a href="https://creative-person.webflow.io/#"><strong><br /></strong></a>
                  </div>
                  <a href="/contact" class="button is-light w-inline-block">
                    <div id="nowThis" thatTextSplit="hoverTarget" base="20%" class="clip">
                      <div class="hover-text">
                        <div class="text-size-xsmall text-style-allcaps">
                          Schedule a call
                        </div>
                      </div>
                      <div class="hover-text bottom-hover-text">
                        <div class="text-size-xsmall text-style-allcaps">
                          Schedule a call
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div data-w-id="c72d569f-e69f-809b-10df-7439c32972db" class="row-title-block">
                <div class="letter-animation">
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-1"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-2"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-3"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-4"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-5"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-6"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-7"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-8"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-9"></div>
                  <div style="
                              -webkit-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -moz-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              -ms-transform: translate3d(0, 100%, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                                skew(0, 0);
                              transform: translate3d(0, 100%, 0) scale3d(1, 1, 1)
                                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            " class="letter-10"></div>
                </div>
                <div class="row-title">
                  <div class="row-title-clip">
                    <div class="row-title-text text-align-center">
                      <span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-1">M</span><span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-2">y</span>
                      <span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-3">S</span><span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-4">t</span><span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-5">o</span><span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-6">r</span><span style="
                                  -webkit-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 100%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="letter-7">y</span>
                    </div>
                  </div>
                  <div class="row-title-bottom"></div>
                </div>
              </div>
            </div>
            <div class="padding-bottom">
              <div class="padding-top">
                <div class="about-history-block">
                  <div id="w-node-f1bf464d-fc74-223e-b627-a97de31d547d-1cecfb97" class="about-history-left">
                    <div data-w-id="f1bf464d-fc74-223e-b627-a97de31d547e" class="about-history-image radius-regular">
                      <div style="
                                  opacity: 0;
                                  -webkit-transform: translate3d(0, 85%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -moz-transform: translate3d(0, 85%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  -ms-transform: translate3d(0, 85%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                  transform: translate3d(0, 85%, 0)
                                    scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                    rotateZ(0) skew(0, 0);
                                " class="rotate-card">
                        <div style="
                                    -webkit-transform: translate3d(0, 0, 0)
                                      scale3d(0.65, 0.65, 1) rotateX(0)
                                      rotateY(180deg) rotateZ(25deg) skew(0, 0);
                                    -moz-transform: translate3d(0, 0, 0)
                                      scale3d(0.65, 0.65, 1) rotateX(0)
                                      rotateY(180deg) rotateZ(25deg) skew(0, 0);
                                    -ms-transform: translate3d(0, 0, 0)
                                      scale3d(0.65, 0.65, 1) rotateX(0)
                                      rotateY(180deg) rotateZ(25deg) skew(0, 0);
                                    transform: translate3d(0, 0, 0)
                                      scale3d(0.65, 0.65, 1) rotateX(0)
                                      rotateY(180deg) rotateZ(25deg) skew(0, 0);
                                    transform-style: preserve-3d;
                                  " class="rotate-card-item">
                          <div class="rotate-card-image radius-regular">
                            <div class="rotate-card-height"></div>
                            <img
                              src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                              loading="lazy" alt="" class="image-fill" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="w-node-f1bf464d-fc74-223e-b627-a97de31d5484-1cecfb97" class="about-history-list">
                    <div id="w-node-_6dd294bf-1428-eb7e-ac6c-ec3499cf5ba9-1cecfb97" class="about-story-right">
                      <div id="w-node-_8c3d9bea-5a97-0693-2304-16ce8df33be6-1cecfb97" class="margin-bottom margin-medium">
                        <div class="margin-bottom margin-small">
                          <div class="title-tag">
                            <div class="circle"></div>
                            <div class="text-size-tiny text-style-allcaps">
                              About me
                            </div>
                          </div>
                        </div>
                        <p class="text-size-xlarge">
                          Designer based in New York City
                        </p>
                      </div>
                      <div id="w-node-_1e145ad7-277e-9d69-ef8e-57f007a29bcf-1cecfb97" class="about-story-paragraph">
                        <div class="text-size-regular text-color-grey">
                          Janet was a creative freelancer based in New
                          York City who specialized in app design and web
                          design. She had years of experience under her
                          belt, and had the unique skillset needed to
                          craft stunning websites that captured each
                          client&#x27;s individual brand identity.<br />‍<br />When
                          it came to designing mobile or web-based
                          applications, Janet had a deep understanding of
                          UX principles, such as interaction design,
                          visual design, animation. She also had the
                          ability to create custom user interfaces and
                          experiences tailored specifically to each
                          client&#x27;s needs.<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="padding-bottom padding-large">
                <div class="padding-top">
                  <div class="about-history-block">
                    <div id="w-node-_44fe54da-fc95-84f6-1f71-7e4c772897d7-1cecfb97" class="about-history-left">
                      <div class="about-history-image radius-regular">
                        <div class="rotate-card">
                          <div class="rotate-card-item">
                            <div class="rotate-card-image radius-regular">
                              <div class="rotate-card-height"></div>
                              <img
                                src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                                loading="lazy" alt="" class="image-fill" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-_44fe54da-fc95-84f6-1f71-7e4c772897de-1cecfb97" class="about-history-list">
                      <div id="w-node-_5a68c496-28a2-7b64-7db1-06b2e8f1ee25-1cecfb97" class="margin-bottom margin-large">
                        <div class="margin-bottom margin-small">
                          <div class="title-tag">
                            <div class="circle"></div>
                            <div class="text-size-tiny text-style-allcaps">
                              My timeline
                            </div>
                          </div>
                        </div>
                        <div class="about-history-top">
                          <p class="text-size-xlarge">
                            Over 9 years as a creative designer
                          </p>
                        </div>
                      </div>
                      <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                        <div class="about-history-intro">
                          <div class="about-history-title">
                            <div class="margin-bottom margin-medium">
                              <div class="title-tag">
                                <div class="circle"></div>
                                <div class="text-size-tiny text-style-allcaps">
                                  2014 - 2016
                                </div>
                              </div>
                            </div>
                            <h3 class="heading-style-h3">Samsung</h3>
                          </div>
                          <div class="text-size-regular text-color-grey">
                            When it came to designing mobile or web-based
                            applications, Janet had a deep skills with UX
                            principles, such as interaction design, visual
                            design, animation.
                          </div>
                        </div>
                      </div>
                      <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                        <div class="about-history-intro">
                          <div class="about-history-title">
                            <div class="margin-bottom margin-medium">
                              <div class="title-tag">
                                <div class="circle"></div>
                                <div class="text-size-tiny text-style-allcaps">
                                  2016 - 2017
                                </div>
                              </div>
                            </div>
                            <h3 class="heading-style-h3">Airtable</h3>
                          </div>
                          <div class="text-size-regular text-color-grey">
                            When it came to designing mobile or web-based
                            applications, Janet had a deep skills with UX
                            principles, such as interaction design, visual
                            design, animation.
                          </div>
                        </div>
                      </div>
                      <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                        <div class="about-history-intro">
                          <div class="about-history-title">
                            <div class="margin-bottom margin-medium">
                              <div class="title-tag">
                                <div class="circle"></div>
                                <div class="text-size-tiny text-style-allcaps">
                                  2017 - 2020
                                </div>
                              </div>
                            </div>
                            <h3 class="heading-style-h3">Facebook</h3>
                          </div>
                          <div class="text-size-regular text-color-grey">
                            When it came to designing mobile or web-based
                            applications, Janet had a deep skills with UX
                            principles, such as interaction design, visual
                            design, animation.
                          </div>
                        </div>
                      </div>
                      <div id="w-node-_97b9e7c1-e1ee-d810-ecd2-3b96031dc498-031dc498" class="about-history-item">
                        <div class="about-history-intro">
                          <div class="about-history-title">
                            <div class="margin-bottom margin-medium">
                              <div class="title-tag">
                                <div class="circle"></div>
                                <div class="text-size-tiny text-style-allcaps">
                                  2020 - 2023
                                </div>
                              </div>
                            </div>
                            <h3 class="heading-style-h3">Freelance</h3>
                          </div>
                          <div class="text-size-regular text-color-grey">
                            When it came to designing mobile or web-based
                            applications, Janet had a deep skills with UX
                            principles, such as interaction design, visual
                            design, animation.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>