<section data-w-id="ac4cfc0d-3e39-4290-be56-9510ca35bfb4" class="about-hero">
  <div class="padding-horizontal padding-small">
    <div class="grid-large">
      <div id="w-node-_6e7df872-1444-4c27-ae3c-6b4673aeb1d3-1cecfb97" class="about-hero-block">
        <div id="w-node-ef93f526-e3f8-6265-c443-7e05c624edb6-1cecfb97" class="about-hero-left">
          <div id="w-node-_33a40b8b-70fe-856d-a5d5-400b2b14b0a5-1cecfb97" class="hero-loop">
            {{> components/hero-loop children="About Me"}}
          </div>
          <div id="w-node-f4c73470-2f9e-6fb3-dc67-d4b90270cd8b-1cecfb97" class="padding-horizontal padding-small">
            <div id="w-node-_21a5a1ea-18a2-6a44-2315-f3602a8f32f3-1cecfb97" class="about-hero-text">
              <p class="text-size-large text-color-white">
                With years of experience in the industry, I have worked
                with businesses of all sizes.<a
                  href="https://creative-person.webflow.io/about-hide"><strong><br /></strong></a>
              </p>
              {{> components/connect-button
              page="works"
              text="View my projects"
              }}
            </div>
          </div>
        </div>
        <div id="w-node-d74ddeb5-c20c-63ef-8fb2-00407a060d1e-1cecfb97" class="about-hero-right">
          <div data-w-id="7a0847c7-c971-1306-9ae0-c465fd477c71" class="hero-rotate-base">
            <div data-w-id="7a0847c7-c971-1306-9ae0-c465fd477c72" style="transform: translateY(85%);" class="hero-rotate-image">
              <div class="hero-rotate-item radius-regular">
                <div class="hero-rotate-height"></div>
                <img
                  src="https://cdn.prod.website-files.com/68b1b879c65c6c6d1cecfac6/68b1b87bc65c6c6d1cecfbd9_image.svg"
                  loading="lazy" alt="" class="image-fill" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>